h1 {
    width: 60%;
    margin: auto;
    border: 2px solid #55c965;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

h2{
    text-align: center;
}

li {
    list-style-type: none;
}

section {
    margin: auto;
    margin-bottom:25px;
    width: 70%;
    height: 30%;
    border: 1px solid black;
    box-shadow: 3px 5px 8px black;
    border-radius: 15px;  
    padding: 20px;
}

div{
    margin-bottom: 20px;
}

.pais table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .pais th, .pais td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .pais th {
    background-color: #f2f2f2;
  }
  
  .pais tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .pais tr:hover {
    background-color: #ddd;
  }
  
  .pib-cidade table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .pib-cidade th, .pib-cidade td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .pib-cidade th {
    background-color: #f2f2f2;
  }
  
  .pib-cidade tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .pib-cidade tr:hover {
    background-color: #ddd;
  }